body{
    margin:0;
}
.character-sidebar{
    list-style-type:none;
    width:12%;
    position:fixed;
    margin-top:50px;
    margin-left:5px;
    padding-left:0;
    border-right:solid black;
    height:100%;
}
.character-sidebar li{
    margin:1px;
}
.character-sidebar li button{
    width:100%;
    text-align:center;
    text-decoration: none;
    padding: 10px 6px 10px 6px;
    display: block;
    border: solid black;
    background-color: rgb(128, 128, 128,0.40);
 }
.character-header{
    margin:0;   
    list-style:none;
    height:50px;
}
.character-header ul{
    display:inline;
}
.character-header:after{
    content:"";
    display:block;
    margin-left:122px;
    padding-top:31px;
    border-bottom:solid black;
}
.character-header li{
    display:inline;
}
#character-name{
   font-size:22px;
}