* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.character-main {
    padding: 10px;
    background-color:white;
    height: 1000px;
}
.character-main div{
    margin-bottom:5px;
}
.character-main-descendencias{
    display:inline-block;
}
.character-main-descendencias > input{
    display:block;
}
.character-main-historia{
    display:inline-block;
}
.character-main-caractFisicas{
    display:inline-block;
}
.character-main-idade{
    display:inline-block;
}
.character-main-afiliacao > input{
    width:220px;
    display:none;
}
.character-main-raca > select{
    display:none;
}
.character-main-idade > input {
    display: none;
    width: 45px;
}
.character-main-caractFisicas > label{
    display:block;
}
.character-main-historia > label{
    display:block;
}
.tabela-atributos{
    display:inline-block;
    /* margin-left:25px; */
}
.character-main-descendenciasRacias {
    display: inline-block;
}
.character-main-descendenciasRacias > span{
    display:block;
    border:solid grey 1px; 
}
.character-name > input {
    display: none;
    font-family: Arial;
    font-size: medium;
}
.character-name > label {
    font-family: Arial;
    font-size: medium;
}
.character-tabela{
    position: absolute;
    display: inline-block;
    float: right;
}
.character-main-idioma > input{
    display:none;
}
.character-main-sanidade > input{
    display:none;
}
.character-main-caminho > select{
    display:none;   
}
.character-main-reputacao > input{
    display:none;
}
.character-main-habilidades li{
    list-style-type: none;
}
.habilidade-descricao{
    display:none;
}