* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.character-main {
    padding: 10px;
    background-color:white;
    height: 1000px;
}
.character-main-descendencias{
    display:inline-block;
}
.character-main-descendencias > input{
    display:block;
}
.character-main-historia{
    display:inline-block;
}
.character-main-caractFisicas{
    display:inline-block;
}
.character-main-idade{
    display:inline-block;
}
.character-main-afiliacao > input{
    width:220px;
    display:none;
}
.character-main-raca > select{
    display:none;
}
.character-main-idade > input {
    display: none;
    width: 45px;
}
.character-main-caractFisicas > label{
    display:block;
}
.character-main-historia > label{
    display:block;
}
.tabela-atributos{
    display:inline-block;
    /* margin-left:25px; */
}
.character-main-descendenciasRacias {
    display: inline-block;
}
.character-main-descendenciasRacias > span{
    display:block;
    border:solid grey 1px; 
}
.character-name > input {
    display: none;
    font-family: Arial;
    font-size: medium;
}
.character-name > label {
    font-family: Arial;
    font-size: medium;
}
.character-main-idioma > input{
    display:none;
}
.character-main-sanidade > input{
    display:none;
}
.character-main-caminho > select{
    display:none;   
}
.character-main-reputacao > input{
    display:none;
}
.character-main-habilidades li{
    list-style-type: none;
}
.character-main-habilidades ul{
	padding-left: 20px;
}
.character-main-habilidades > div{
	display:block;
}
.character-main-habilidades > div > label{
	margin-left:40%; 
}
.character-main-habilidades > div > button{
	background:white;
	border:solid black;
	float:right;
	border-radius:999px;
}
.character-main-habilidades > div > button:hover{
 background:lightgrey;
}

.habilidade-descricao{
    display:none;
    border:solid black;
    padding: 5px;
    width: 95%;
    margin-left: 9px;
    margin-top: -2px;
}
.habilidade-nome{
	border:solid black;
	border-radius: 8px;
	margin-bottom: 0;
}
.habilidade-nome:hover{
	background:lightgrey;
}
.habilidade-descricao:hover{
	background:lightgrey;
}
}
.habilidade-nome{
    padding:2px;
    border:solid black;
    border-radius:5px;
}
.habilidade-nome:hover {
    background-color:lightgrey;
    }
.show{
	display: block;
}
.character-tabela > button{
    display:block;
}
.modal-habilidades {
    padding-top: 52px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-tabelas {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}
.modal-tabelas > div > table {
    border-collapse:collapse;
}
.tabela-atributos-completa th, .tabela-atributos-completa td{
    padding: 10px;
    border: solid #5d5d5d;
}
#tabela-modal-for, #tabela-modal-con, #tabela-modal-agi{
    background: indianred;
}
#tabela-modal-des{
    background:pink;
}
#tabela-modal-int, #tabela-modal-sab, #tabela-modal-car{
    background: cornflowerblue;
}
.modal-tabelas > table > thead > tr{
    background:black;
    color:white;
}
.tabela-habitos-completa > tbody > tr{
    background-color:lightgrey;
}
.tabela-habitos-completa th, .tabela-habitos-completa td {
    /* padding: 10px; */
    border: solid #5d5d5d;
}
.tabela-modal-coluna-importante{
    background: black;
    color:white;
}
