body {
    margin: 0;
}
.character {
}

.character-header {
    top:0;
    position: static;
    height: 60px;
}
.character-header-info1{
    position:absolute;
}
#character-nome {
    font-size: 30px;
}
.character-header-info2{
    padding-top:10px;
    margin-left:200px;
}
.character-header-info2 ul{
    list-style-type:none;
}
.character-header-info2 ul li{
    padding-left:25px;
    display:inline;
    font-size:larger;
}

.character-sidebar {
    width:100px;
    float: left;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.character-main {
    margin-left: 98px;
    height:1000px;
    border-top: solid black;
    border-left: solid black;
    text-align: center;
}   
.character-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.character-sidebar li {
    overflow: margin:1px;
}

.character-sidebar li button {
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 10px 6px 10px 6px;
    display: block;
    border: solid black;
    background-color: rgb(128, 128, 128,0.40);
}
