body{
	width:100%;
	background-image:url("../img/rain.jpg");
	background-attachment:fixed;
	background-size:100vw 100vh;
	background-repeat: no-repeat;
	text-align:center;
}
.login{
	width:18vw;
	height:24vh;
	padding:3vh 2vw 3vh 2vw;
	margin-top:30vh;
	margin-left:40vw;
	background-color:#494946;
	box-shadow:0px 0px 10px #282826;
}
input::placeholder{
	color:#c9c9bf;
}
.login td:first-child{
	color:#c9c9bf;
}
.login td{
	float:center;
}
.login input[type=text], .login input[type=password]{
	padding:3px;
	background:#7c7c76;
	border:1px black solid;
}
.login input[type=text]:focus, .login input[type=password]:focus, .login input[type=submit]:focus, .login button:focus{
	outline:0;
	background-color:#b5b584;
	border-color:#b5b584;
	border-radius:2px;
}
.login input[type=submit], .login button{
	padding:2px;
	background-color:#7c7c76;
	border:1px black solid;
	color:#c9c9bf;
}
.tela-cadastro{
	display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
}